.createPostPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f9f9f9;
}

.createPostContainer {
  width: 600px;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.createPostContainer h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #555;
}

.inputGroup input,
.inputGroup textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.errorMessage {
  color: #f44336;
  font-size: 14px;
  margin-top: 5px;
}

.submitButton {
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submitButton:hover {
  background-color: #0056b3;
}
@media screen and (max-width: 600px) {
  .createPostContainer {
    width: 90%;
    padding: 30px;
  }

  .inputGroup input,
  .inputGroup textarea {
    width: 100%; 
  }
}
