.container {
  margin: 20px auto;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  align-items: center;
}

.sortLabel,
.filterLabel {
  margin-right: 10px;
}

.filterInput {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust according to your layout */
}


.post {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.post-link:hover {
  text-decoration: none;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.body {
  margin-top: 10px;
  color: #555;
  cursor: pointer;
}

.body:hover {
  background-color: #f0f0f0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.username a {
  color: #333;
  text-decoration: none;
}

.buttons {
  display: flex;
  align-items: center;
}

.likeBttn,
.unlikeBttn {
  font-size: 20px;
  color: #ccc;
  margin-right: 5px;
  cursor: pointer;
}

.likeBttn:hover,
.unlikeBttn:hover {
  color: #ff6d00;
}

.label {
  font-size: 16px;
  color: #777;
}
