.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter {
  flex: 1;
  margin-right: 10px;
}

.sortLabel, .filterLabel {
  font-weight: bold;
  margin-bottom: 5px;
}

.filterInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.post {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.post:hover {
  transform: translateY(-5px);
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.body {
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username a {
  color: #007bff;
  text-decoration: none;
}

.buttons {
  display: flex;
  align-items: center;
}

.likeBttn, .unlikeBttn {
  cursor: pointer;
  font-size: 24px;
  color: #777;
  transition: color 0.3s ease-in-out;
}

.likeBttn:hover, .unlikeBttn:hover {
  color: #007bff;
}

.label {
  margin-left: 5px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .filters {
    flex-direction: column;
  }

  .filter {
    margin-bottom: 10px;
  }
}
