.postPage {
  display: flex;
  flex-direction: column; /* Change to column layout for smaller screens */
  width: 100%;
  height: auto; /* Auto height for dynamic content */
  overflow: hidden; /* Prevent overflow */
}

.leftSide,
.rightSide {
  width: 100%;
  padding: 20px; /* Add padding for better spacing */
  box-sizing: border-box; /* Include padding in width calculation */
  overflow: hidden; /* Prevent overflow */
}

.rightSide .addCommentContainer {
  width: 100%;
  margin-top: 15px; /* Adjusted margin top */
  box-sizing: border-box; /* Include padding in width calculation */
  overflow: hidden; /* Prevent overflow */
}

.addCommentContainer input,
.addCommentContainer button {
  width: calc(100% - 20px); /* Full width minus padding */
  padding: 10px; /* Added padding for better appearance */
  border: 1px solid #666; /* Dark border */
  border-radius: 5px;
  margin-bottom: 10px; /* Added margin-bottom for spacing */
  box-sizing: border-box; /* Include padding in width calculation */
  background-color: #444; /* Dark background color */
  color: #eee; /* Light text color */
}

.addCommentContainer input::placeholder {
  color: #ccc; /* Lighter placeholder text color */
}

.addCommentContainer input:focus {
  outline: none; /* Remove outline on focus */
  border-color: #007bff; /* Border color on focus */
}

.addCommentContainer button {
  width: calc(100% - 20px); /* Full width minus padding */
  padding: 10px; /* Added padding for better appearance */
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Button color */
  color: #fff; /* Button text color */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.addCommentContainer button:hover {
  background-color: #0056b3; /* Darker button color on hover */
}

.comment {
  width: calc(100% - 40px); /* Full width minus padding */
  box-sizing: border-box; /* Include padding in width calculation */
  border-left: 3px solid #007bff; /* Add border to differentiate comments */
  padding: 10px;
  margin-bottom: 15px;
}

.commentContent {
  flex: 1;
  overflow: hidden; /* Prevent overflow */
}

.commentText {
  margin-bottom: 5px;
}

.commentMeta {
  color: #666;
  font-size: 0.8rem;
}

.commentMeta .username {
  color: #007bff; /* Change color of username */
}


.deleteCommentButton {
  font-size: 1rem; /* Adjusted font size */
  background-color: #333; /* Dark background color */
  color: #fff; /* Light text color */
  border: none;
  padding: 5px 10px; /* Added padding for better appearance */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.deleteCommentButton:hover {
  background-color: #555; /* Darker background color on hover */
}


@media (max-width: 500px) {
  .rightSide .addCommentContainer {
    margin-top: 10px; /* Adjusted margin top */
  }
}
